/*

*/
.logo-menu {
    margin-top: 150px;
    margin-left: 75px;
    display: block;
}

/* 
    Classes auxiliares
    ---------
*/

.mostrar {
    display: block !important;
}
.esconder {
    display: none !important;
}

.mt_0 {
    margin-top: 0;
}
.mt_5 {
    margin-top: 5px;
}
.mt_10 {
    margin-top: 10px;
}
.mt_15 {
    margin-top: 10px;
}
.mt_20 {
    margin-top: 20px;
}


.mb_0 {
    margin-bottom: 0;
}
.mb_5 {
    margin-bottom: 5px;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mb_20 {
    margin-bottom: 20px;
}



.mr_3 {
    margin-right: 3px;
}


/* Tabelas */

.tb_titulo_center thead tr th {
    text-align: center;
}





/* 
    Skin Aquaino
    ---------
*/
/* skin-aquaino navbar */
.skin-aquaino .navbar {
  background-color: #00979C;
}
.skin-aquaino .navbar .nav a {
  color: rgba(255, 255, 255, 0.8);
}
.skin-aquaino .navbar .nav > li > a:hover,
.skin-aquaino .navbar .nav > li > a:active,
.skin-aquaino .navbar .nav > li > a:focus,
.skin-aquaino .navbar .nav .open > a,
.skin-aquaino .navbar .nav .open > a:hover,
.skin-aquaino .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-aquaino .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-aquaino .navbar .sidebar-toggle .icon-bar {
  background: rgba(255, 255, 255, 0.8);
}
.skin-aquaino .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6 !important;
}



/* skin-aquaino logo */
.skin-aquaino .logo {
  padding-top: 5px;
  background-color: #f4f4f4;
  line-height: 40px !important;
}
.skin-aquaino .logo > a {
  color: #fbfbfb;
  
}

.skin-aquaino .logo:hover {
  background: #f9f9f9;
}



/* skin-aquaino content header */
.skin-aquaino .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* Skin-blue user panel */
.skin-aquaino .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-aquaino .user-panel > .info,
.skin-aquaino .user-panel > .info > a {
  color: #555555;
}
/* skin-aquaino sidebar */
.skin-aquaino .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-aquaino .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-aquaino .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-aquaino .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-aquaino .sidebar > .sidebar-menu > li > a:hover,
.skin-aquaino .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #f9f9f9;
}
.skin-aquaino .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-aquaino .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 0px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 0px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 0px -4px rgba(0, 0, 0, 0.07);
  
}
.skin-aquaino .sidebar a {
  color: #555555;
}
.skin-aquaino .sidebar a:hover {
  text-decoration: none;
}
.skin-aquaino .treeview-menu > li > a {
  color: #777;
}
.skin-aquaino .treeview-menu > li.active > a,
.skin-aquaino .treeview-menu > li > a:hover {
  color: #111;
}
.skin-aquaino .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-aquaino .sidebar-form input[type="text"],
.skin-aquaino .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-aquaino .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-aquaino .sidebar-form input[type="text"]:focus,
.skin-aquaino .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-aquaino .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-aquaino .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}


#slider_actinio .slider-selection {
    background: #9fa8da;
}
#slider_ultravioleta .slider-selection {
    background: #ab47bc;
}
#slider_violeta .slider-selection {
    background: #ea80fc;
}

#slider_branco .slider-selection {
    background: #e0e0e0;
}

#slider_azul .slider-selection {
    background: #5677fc;
}

#slider_vermelho .slider-selection {
     background: #e51c23;
}

#slider_verde .slider-selection {
     background: #64dd17;
}


.actinio {
    background: #9fa8da !important;
    color: #FFF;
}
.ultravioleta {
    background: #ab47bc !important;
    color: #FFF;
}
.violeta {
    background: #ea80fc !important;
    color: #FFF;
}

.branco {
    background: #e0e0e0 !important;
    color: #000;
}

.azul {
    background: #5677fc !important;
    color: #FFF;
}

.vermelho {
     background: #e51c23 !important;
     color: #FFF;
}

.verde {
     background: #64dd17 !important;
     color: #FFF;
}
